body {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

h1,
h2  {
  font-size: 35px;
  line-height: 41px;
}

html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a:hover {
  color: #ffbc9e;
  text-decoration: none;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

/*slider*/

body > input[type="radio"] {
  display: none;
}

.site_wrapper {
  background-color: #849d8f;
  background-image: url("../img/bg_slider1.png");
  background-position: top center;
  background-repeat: no-repeat;
  min-width: 1200px;
  -moz-transition: background-image 0.5s ease, background-color 0.5s ease;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site_wrapper::before,
.site_wrapper::after {
  content: "";
  visibility: hidden;
}

.site_wrapper::before,
.site_wrapper::after {
  background-image: url("../img/bg_slider2.png");
}

.site_wrapper::after {
  background-image: url("../img/bg_slider1.png");
}

.content_wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  margin: 0;
  position: relative;
  padding-top: 310px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 41px;
}

.slide {
  display: none;
}

.slider_title {
  width: 700px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slider_button {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 45px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  backrgound: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider_button:hover {
  backrgound: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.slider_button:active {
  backrgound: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.slider_controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider_controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: top;
  background-color: transparent;
  margin-right: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider_controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#button1:checked ~ .site_wrapper #slide1,
#button2:checked ~ .site_wrapper #slide2,
#button3:checked ~ .site_wrapper #slide3 {
  display: block;
}

#button1:checked ~ .site_wrapper label[for="button1"],
#button2:checked ~ .site_wrapper label[for="button2"],
#button3:checked ~ .site_wrapper label[for="button3"] {
  background-color: #ffffff;
}

#button1:checked ~ .site_wrapper {
  background-color: #849d8f;
  background-image: url("../img/bg_slider1.png");
}

#button2:checked ~ .site_wrapper {
  background-color: #8996a6;
  background-image: url("../img/bg_slider2.png");
}

#button3:checked ~ .site_wrapper {
  background-color: #9d8b84;
  background-image: url("../img/bg_slider3.png");
}

/*slider end*/

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}

/*header*/

.logo {
  float: left;
  width: 154px;
  margin-left: -5px;
  margin-top: 9px;
  margin-right: 15px;
}

.main_navigation {
  display: block;
  float: left;
  width: 600px;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.navigation {
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.navigation .navigation_item::after {
  content: "";
  position: absolute;
  right: 13px;
  top: 24px;
  left: 14px;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.navigation .navigation_item:hover::after {
  display: none;
}

.navigation a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  padding-left: 14px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  position: relative;
}

.navigation a:active,
.navigation a:hover {
  color: #333333;
  background-color: #f8f7f4;
  border: none;
  border-radius: 100px;
}

.dropdown {
  position: relative;
}

.navigation a:hover {
  background-color: #f8f7f4;
  border: none;
  border-radius: 100px;
}

.navigation a:active {
  background-color: #f8f7f4;
  border: none;
  border-radius: 100px;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.navigation li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 20px;
}

.current_inner_page {
	color: #ffffff;
	background-color: #d07058;
	border-radius: 15px;
}

.navigation_dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 145px;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 25;
  background: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: none;
}

.navigation_dropdown li {
  padding: 0;
  margin: 0;
}

.navigation_dropdown a {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-decoration: none;
  width: 105px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.navigation_dropdown li:first-child a {
  padding-top: 16px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.navigation_dropdown li:first-child:hover::before,
.navigation_dropdown li:first-child::before {
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  top: 36px;
  left: 10px;
  background-color: #d1d0ce;
  z-index: 10;
}

.navigation_dropdown li:last-child a {
  padding-bottom: 16px;
  border-radius: 0 0 10px 10px ;
}

.navigation li:first-child:hover .navigation_dropdown {
  display: block;
}

.dropdown:hover .navigation_item {
  background: #f8f7f4;
  color: #333333;
  border-radius: 100px;
  border: none;
}

.dropdown:hover .current_inner_page {
  background: #f8f7f4;
  color: #333333;
  border-radius: 100px;
  border: none;
}

.navigation_dropdown a:hover {
  background-color: #fbded8;
  border-radius: 0;
}

.navigation_dropdown a:active {
background-color: #f6b5a5;
box-shadow: none;
}

.logo a:hover {
  border: none;
}

.user_block {
  float: right;
  width: 300px;
  font-size: 14px;
  text-align: right;
  position: relative;
  padding-top: 25px;
  margin-right: -5px;
}

.login,
.search,
.cart {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.login_link {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 45px;
  padding-right: 16px;
  margin-right: 3px;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  display: inline-block;
  vertical-align: top;
}

.search_loupe:hover,
.login_link:hover,
.cart_link:hover,
.cart_link_full:hover {
  background-color: #f8f7f4;
  color: #000000;
  border: none;
}

.login_link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 23px;
  top: 3px;
  left: 14px;
  background-image: url("../img/sprite.png");
  background-position: -5px -80px;
}

.login_link:hover::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 23px;
  top: 3px;
  left: 14px;
  background-image: url("../img/sprite.png");
  background-position: -5px -105px;
}

.cart_link {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 45px;
  padding-right: 34px;
  margin-right: 3px;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  display: inline-block;
  vertical-align: top;
}

.cart_link_full {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 45px;
  padding-right: 14px;
  margin-right: 1px;
  color: #000000;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  background-color: #f8f7f4;
  border-radius: 100px;
  display: inline-block;
  vertical-align: top;
}

.cart_link::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 25px;
  top: 2px;
  left: 12px;
  background-image: url("../img/sprite.png");
  background-position: 0 -1px;
}

.cart_link:hover::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 25px;
  top: 2px;
  left: 12px;
  background-image: url("../img/sprite.png");
  background-position: 0 -26px;
}

.cart_link_full::before,
.cart_link_full:hover::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 25px;
  top: 2px;
  left: 12px;
  background-image: url("../img/sprite.png");
  background-position: 0 -53px;
}

.search_loupe {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  width: 33px;
  height: 33px;
  margin-right: 5px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.search_loupe::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 25px;
  top: 0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-position: 0 -133px;
}

.search_loupe:hover::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 25px;
  top: 0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-position: -54px -133px;
}

.worktime {
  position: absolute;
  right: 0;
  top: 70px;
  z-index: 10;
}

.worktime p {
  margin: 0;
}

.phone_number {
  font-size: 22px;
}

/*header end*/

/*offers*/

.offers {
margin: 0;
padding: 0;
margin-bottom: 35px;
}

.offers_left {
  float: left;
  width: 520px;
  min-height: 210px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-image: url("../img/bg_offer1.jpg");
}

.offers_right {
  float: right;
  width: 520px;
  min-height: 210px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
  background-image: url("../img/bg_offer2.jpg");
}

.offers_left h2,
.offers_right h2 {
  text-align: left;
  margin: 0;
  margin-top: 15px;
}

.offers_left p,
.offers_right p {
  text-align: left;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.offers_button {
  float: right;
  margin-top: 42px;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  backrgound: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.offers_button:hover {
  backrgound: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.offers_button:active {
  backrgound: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

/*offers end*/

/*hits*/

.product_item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 267px;
  margin-right: 21px;
  margin-bottom: 30px;
  margin-top: 5px;
  font-size: 0;
}

.product_item:nth-child(4n) {
  margin-right: 0;
}

.product_item p {
  padding: 0;
  margin: 0;
}

.product_item img {
  position: relative;
}

.product_item_price {
  position: absolute;
  top: 220px;
}

.product_price {
  left: 0;
  top: 217px;
  font-size: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.product_price::before {
  content: "";
  width: 30px;
  height: 38px;
  position: absolute;
  top: -7px;
  left: 82px;
  background-image: url("../img/sprite.png");
  background-position: -5px -168px;
}

.rub_price {
  font-size: 0;
  width: 24px;
  height: 38px;
  display: inline-block;
  vertical-align: bottom;
}

.measurement {
  font-size: 30px;
}

.product_description {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  padding: 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.hit::after {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
  background: url("../img/sprite.png") no-repeat center;
  background-position: -10px -250px;
  z-index: 10;
}

.product_item::before {
  content: "";
  left: -7px;
  top: -5px;
  width: 280px;
  bottom: -70px;
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: none;
  cursor: pointer;
}

.product_item:hover::before {
  display: block;
}

.product_item:hover {
  z-index: 20;
}

.product_item:hover .quick_view_button {
  display: block;
}

.quick_view_button {
  position: absolute;
  bottom: -60px;
  padding-left: 30px;
  z-index: 10;
  display: none;
}

.view_button {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 19px;
  padding-left: 19px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  backrgound: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.view_button:hover {
  backrgound: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.view_button:active {
  backrgound: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

/*hits end*/

/*features*/

.about_gllacy {
  margin-bottom: 40px;
  margin-top: 0;
  min-height: 308px;
  border-radius: 20px;
  background: url("../img/bg_seo.jpg") repeat;
  color: #323232;
  font-size: 16px;
  font-weight: normal;
}

.about_gllacy h3 {
  margin: 0;
  padding-left: 22px;
  padding-top: 25px;
  font-size: 24px;
  line-height: 30px;
}

.features_left {
  float: left;
  width: 485px;
  padding-left: 78px;
}

.features_right {
  float: right;
  width: 485px;
  padding-left: 70px;
  padding-right: 20px;
}

.gllacy_feature {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  width: 485px;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.gllacy_feature_sign {
  position: absolute;
  top: 9px;
  left: -55px;
  font-size: 0;
  width: 49px;
  height: 49px;
  background: url("../img/sprite.png") no-repeat center;
  display: inline-block;
  vertical-align: top;
}

.feature1 {
  background-position: -18px -546px;
}

.feature2 {
  background-position: -17px -476px;
}

.feature3 {
  background-position: -17px -404px;
}

.feature4 {
  background-position: -17px -334px;
}

/*features end*/

/*index content*/

.index_content {
  margin-bottom: 40px;
}

.index_blog {
  float: left;
  width: 520px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  border-radius: 20px;
  background-image: url("../img/bg_blog.jpg");
  background-position: -50px -35px;
  min-height: 194px;
  color: #323232;
}

.index_blog p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.index_blog a {
  color: #323232;
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.index_blog a:hover,
.index_blog a:active {
  color: #ffbc9e;
  text-decoration: none;
}


.index_subscribe {
  position: relative;
  float: right;
  width: 548px;
  padding: 6px;
  border-radius: 20px;
  background-color: #f8f7f4;
  background-image: url("../img/pattern_blog.png");
  background-repeat: repeat;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  min-height: 208px;
}

.subscribe_wrapper {
  position: absolute;
  width: 507px;
  top: 6px;
  left: 6px;
  background-color: #f8f7f4;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  min-height: 200px;
}

.spam_button {
  float: right;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 19px;
  padding-left: 19px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  backrgound: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

.spam_button:hover {
  backrgound: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.spam_button:active {
  backrgound: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.subscribe_wrapper input[type="email"] {
	width: 335px;
	margin: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin-top: 15px;
}

.subscribe_wrapper input[type="email"]:hover {
  border: 2px solid #c7c6c5;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  padding-right: 13px;
}

/*index content end*/


/*map*/

.map_wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.map {
  position: relative;
}

.google_map {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

.map img {
  width: 100%;
  height: auto;
}

.contacts {
  position: absolute;
  top: 60px;
  right: 0;
  width: 275px;
  min-height: 280px;
  font-size: 14px;
  font-weight: normal;
  padding-top: 25px;
  padding-left: 25px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #323232;
  background-color: #fefefe;
  text-align: left;
  z-index: 15;
}

.contacts p {
  padding: 0;
  margin: 0;
  padding-top: 5px;
}

.contacts_title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;
}

.contacts_button {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 28px;
  padding-left: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  backrgound: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  margin-top: 25px;
}

.contacts_button:hover {
  backrgound: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.contacts_button:active {
  backrgound: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

/*map end*/

.main_footer {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  padding-bottom: 30px;
}

.footer_social {
  float: left;
  width: 220px;
  padding-top: 30px;
}
.footer_social a {
  text-decoration: none;
}

.footer_social a:hover {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social_btn {
  display: inline-block;
  width: 31px;
  min-height: 31px;
  font-size: 0;
  background: url("../img/sprite.png") no-repeat center;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  vertical-align: top;
  margin-right: 10px;
}

.social_btn:hover {
  opacity: 1;
}

.social_btn:active {
  opacity: 0.9;
  box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);
}

.social_btn_tw {
  background-position: -26px -677px;
  opacity: 0.5;
}

.social_btn_inst {
  background-position: -27px -738px;
  opacity: 0.5;
}

.social_btn_fb {
  background-position: -27px -802px;
  opacity: 0.5;
}

.social_btn_vk {
  background-position: -26px -620px;
  opacity: 0.5;
}

.gllacy_production {
  width: 330px;
  margin: auto;
  padding: 0;
  padding-top: 30px;

}
.about_production {
  width: 120px;
  float: left;
  margin-right: 20px;
  position: relative;

}

.documents {
  width: 165px;
  float: right;
  line-height: 21px;
}

.sign {
  font-weight: bold;
}

.about_production_sign {
  position: absolute;
  top: 0;
  left: -25px;
  font-size: 0;
  width: 17px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat center;
  background-position: -8px -218px;
  display: inline-block;
  vertical-align: top;
}

.footer_copyright {
  float: right;
  width: 190px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.gllacy_production a,
.footer_copyright a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.gllacy_production a:hover,
.footer_copyright a:hover {
  color: #ffbc9e;
  text-decoration: none;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.footer_copyright p {
  padding: 0;
  margin: 0;
}

.about_production a {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}
/*catalog*/

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs ul {
  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin-top: 15px;
  margin-right: 20px;
}

.breadcrumbs a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: normal;
  position: relative;

}

.breadcrumbs a:hover {
  cursor: pointer;
  font-weight: normal;
  color: #ffbc9e;
  text-decoration: none;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}


.breadcrumbs a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 4px;
  right: -20px;
  background: url("../img/sprite.png") no-repeat center;
  background-position: -34px -1127px;
  cursor: none;
  pointer-events: none;
}

.catalog {
  margin-top: 35px;
}

h1 {
  margin: 0;
}

.pagination {
  text-align: right;
  margin-top: 43px;
  padding-bottom: 28px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination,
.pagination a {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
}

.pagination_current,
.pagination a {
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
  vertical-align: top;
}


.pagination a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: none;
}

.pagination_current {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.pagination a:last-child,
.pagination a:first-child {
  font-size: 0px;
  height: 27px;
  padding: 0;
  width: 27px;
  margin-right: -12px;
}

.pagination_prev {
  background: url("../img/sprite.png") no-repeat center;
  background-position: -29px -1082px;
  cursor: none;
  pointer-events: none;
  opacity: 0.2;
  display: inline-block;
  vertical-align: top;
}

.pagination_next {
  background: url("../img/sprite.png") no-repeat center;
  background-position: -29px -1039px;
  cursor: pointer;
  opacity: 1;
  display: inline-block;
  vertical-align: top;
}

.options {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
}

fieldset {
  display: inline-block;
  vertical-align: baseline;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  position: relative;
}

.filters1 fieldset {
  margin-top: 45px;
}

.filters2 fieldset {
  margin-top: 35px;
}

legend {
  font-size: 14px;
  line-heigth: 16px;
  font-weight: normal;
  position: absolute;
  top: -20px;
}

.filters1 select {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  outline: none;
  max-width: 160px;
}

.filters1 select option {
  outline: none;
}

.filters1 input[type="radio"],
.filters2 input[type="checkbox"] {
	display: none;
}

.filters1 label {
	display: inline-block;
  vertical-align: baseline;
	position: relative;
	cursor: pointer;
}

.fatness_options label::before {
	content: "";
	position: absolute;
	left: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #ffffff;
  border-radius: 50%;
}

.fatness_options label:hover::before,
.topping_options label:hover::before {
  box-shadow: inset 0 0 0 1px #ffffff;
}

input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	background-color: #ffffff;
  border-radius: 50%;
}

input[type="checkbox"]:checked + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
  background: url("../img/sprite.png") no-repeat center;
  background-position: -34px -1005px;
}

.topping_options label::before {
	content: "";
	position: absolute;
	left: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #ffffff;
  border-radius: 5px;
}

.filters label {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.fatness_options label {
  padding-left: 36px;
  padding-right: 8px;
}

.topping_options label {
  padding-left: 40px;
  padding-right: 9px;
}

.price_options {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-heigth: 16px;
  font-weight: normal;
  color: #ffffff;
  width: 215px;
  padding-top: 29px;
  margin-left: 13px;
  margin-right: 13px;
}

.range_controls {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  padding-top: 16px;
  padding-bottom: 18px;
  position: relative;
}

.price_controls {
  margin-bottom: 1px;
  margin-left: 15px;
}

.scale {
	height: 4px;
	background: rgba(255, 255, 255, 0.5);
}

.bar {
	height: 4px;
	margin-left: 30px;
	margin-right: 60px;
  background: rgba(255, 255, 255, 1);
}

.range_toggle {
	position: absolute;
	top: 8px;
  width: 20px;
  height: 20px;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.range_min {
  left: 30px;
}

.range_max {
  right: 60px;
}

.price_controls input[type="text"] {
	width: 30px;
	margin: 0;
	padding: 0;
  font-size: 14px;
  line-heigth: 16px;
  font-weight: normal;
  color: #ffffff;
	background: transparent;
	border: none;
	outline: none;
}

.button_filters_form {
  display: inline-block;
  margin-top: 35px;
  margin-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 28px;
  padding-left: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.button_filters_form:hover {
  color: #353535;
  background: #ffffff;
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 32px;
  padding-left: 32px;
  outline: none;
}

.button_filters_form:active {
  color: #353535;
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 32px;
  padding-left: 32px;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
  outline: none;
}

.popup_feedback_form {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -239px;
  margin-top: -222px;
  width: 478px;
  padding-left: 24px;
  padding-right: 27px;
  padding-top: 20px;
  padding-bottom: 27px;
  border-radius: 15px;
  color: #323232;
  background-color: #f8f7f4;
  box-sizing: border-box;
	z-index: 60;
  display: none;
}

.feedback_title {
  font-size: 24px;
  font-weight: 28px;
  margin-bottom: 27px;
}

.popup_feedback_form input[type="text"],
.popup_feedback_form input[type="email"] {
	width: 265px;
	margin: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popup_feedback_form textarea[name="comment"] {
	width: 398px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
	min-height: 153px;
	resize: none;
}

.popup_feedback_form input[type="text"],
.popup_feedback_form input[type="email"],
.popup_feedback_form textarea[name="comment"] {
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin-bottom: 20px;
}

.popup_feedback_form textarea[name="comment"]:hover,
.popup_feedback_form input[type="text"]:hover,
.popup_feedback_form input[type="email"]:hover {
  border: 2px solid #c7c6c5;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  padding-right: 13px;
}

.feedback_button_send {
  float: right;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 19px;
  padding-left: 19px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  backrgound: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  margin-right: 24px;
}

.feedback_button_send:hover {
  backrgound: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback_button_send:active {
  backrgound: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback_button_close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  border: none;
}

.feedback_button_close::before,
.feedback_button_close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 23px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.feedback_button_close::before {
  transform: rotate(45deg);
}

.feedback_button_close::after {
  transform: rotate(-45deg);
}

.popup_login {
  position: absolute;
  top: 40px;
  right: 0;
  padding-left: 19px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 21px;
  border-radius: 5px;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  z-index: 40;
  display: none;
}

.popup_login input[type="email"],
.popup_login input[type="password"] {
  font-size: 14px;
  line-height: 24px;
  width: 239px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.popup_login input[type="email"]:hover,
.popup_login input[type="password"]:hover {
  border: 2px solid #c7c6c5;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  padding-right: 13px;
}

.login_form {
  text-align: left;
}

.login_form a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login_button_send {
  float: left;
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 26px;
  padding-left: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  backrgound: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  margin-right: 24px;
}

.login_button_send:hover {
  backrgound: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.login_button_send:active {
  backrgound: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.login:hover .popup_login {
	display: block;
}

.search:hover .search_form {
  display: block;
}

.cart:hover .cart_popup {
  display: block;
}

.login,
.search,
.cart {
  padding-bottom: 20px;
}

.popup:hover .login_link {
  background: #f8f7f4;
  color: #333333;
  border-radius: 100px;
  border: none;
}

.popup:hover .login_link::before {
  background-image: url("../img/sprite.png");
  background-position: -5px -105px;
}

.popup:hover .search_loupe {
  background: #f8f7f4;
  color: #333333;
  border-radius: 50%;
  border: none;
}

.popup:hover .search_loupe::before {
  background-image: url("../img/sprite.png");
  background-position: -54px -133px;
}

.search_form {
  position: absolute;
  top: 40px;
  right: 0;
  padding-left: 19px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 5px;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  z-index: 40;
  display: none;
}

.search_form input[type="text"] {
  font-size: 14px;
  line-height: 24px;
  width: 239px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search_form input[type="text"]:hover {
  border: 2px solid #c7c6c5;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  padding-right: 13px;
}

.cart_popup {
  position: absolute;
  top: 40px;
  right: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 5px;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  z-index: 20;
  display: none;
}

.cart_remove {
  padding-right: 15px;
  vertical-align: top;
}
/*
background: url("../img/sprite.png") no-repeat center;
*/
.remove_button {
  width: 11px;
  height: 11px;
  background: url("../img/sprite.png") no-repeat center;
  background-position: -36px -975px;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.cart_item {
  padding-left: 42px;
  padding-right: 32px;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  min-width: 215px;
  text-align: left;
  vertical-align: top;
  position: relative;
}

.cart_item::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  top: -5px;
  left: -5px;
  z-index: 20;
}

.icecream_item1 .cart_item::before {
  background: url("../img/sprite.png") no-repeat center;
  background-position: -26px -915px;
}

.icecream_item2 .cart_item::before {
  background: url("../img/sprite.png") no-repeat center;
  background-position: -26px -856px;
}

.cart_item a {
  color: #323232;
  text-decoration: none;
}

.cart_item:hover a {
border: none;
}

.cart_amount {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;
  min-width: 45px;
  vertical-align: top;
}

.cart_price {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #999999;
  min-width: 50px;
  vertical-align: top;
}

.cart_cost {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;
  padding-left: 25px;
  padding-right: 20px;
  min-width: 50px;
  vertical-align: top;
}

.total_cost {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  color: #323232;
  padding-top: 30px;
  position: relative;
}

.total_cost::before {
  content: "";
  position: absolute;
  margin-right: 10px;
  margin-left: 10px;
  height: 1px;
  top: 15px;
  left: -5px;
  right: -3px;
  background-color: #cacac7;
  z-index: 30;
}

.cart_button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
  padding-left: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  backrgound: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  margin-top: 9px;
}

.cart_button:hover {
  backrgound: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.cart_button:active {
  backrgound: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
  border: none;
}

.icecream_item1 .cart_remove,
.icecream_item1 .cart_item,
.icecream_item1 .cart_amount,
.icecream_item1 .cart_price,
.icecream_item1 .cart_cost {
  padding-bottom: 18px;
}

.popup_display {
	display: block;
  animation: bounce 0.6s;
}

.overlay {
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
  z-index: 40;
  display: none;
}

.overlay_display {
	display: block;
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
